/* configs basicas */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --white:#FFFFFF;
  --black:black;
  --orange:#F48347;
  --gray:#D9D9D9;
  --green:#03391D;

}

*{
  font-family: 'Poppins', sans-serif;
}

/* nav-bar */
.navbar {
    background-color: #000; 
  }

.nav-link-carrinho{
  margin: auto;
  color: #fff;
  text-decoration: none;
  margin-left: 200%;
}

.navbar-titulo{
  color: #fff;
  text-decoration: none;
  margin-left: 4%;
  font-size: 30px;
  font-weight: 800; /* Extrabold */
}

.nav-link{
  color: #fff;
  text-decoration: none;
  font-weight: 700; 
}

.nav-item{
  color: var(--white);
}
/* HOME */
/* intro */
main{
  margin: 5%; 
}

main h1 {
  font-weight: 800; /* Extrabold */
  font-size: 50px;
  border-bottom: #000 ridge 4px;
  padding: 0 0 1% 0;
  width: fit-content; /* Ajusta o tamanho do h1 ao conteúdo */
}

main p{
  font-size: 24px;
}


/* horario */

.sla{
  display: flex;
}

.horario{
  font-weight: 800;
 margin-left: 14%;
  border-left: 7px solid #F48347; 
  padding-left: 10px; 
  display: flex;
  flex-direction: column;
  height: 35%;
}

.horario .pa{
  margin-bottom: 5%;
  font-size: 25px;
}

.horario-h1{
  margin: 10% 0 2% 0; 
  font-weight: 800;
  margin-left: 14%;
  font-size: 40px;

}

.poke{
  height: 25%;
  width: 25%;
  margin: -8% 0 0 20%;
}

/* mapa */
.mapa{
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.mapa .local h1{
  font-weight: 800;
  border-bottom: #000 ridge 4px;
  padding: 0 0 1% 0;
  width: fit-content; /* Ajusta o tamanho do h1 ao conteúdo */
}

.local h1{
  margin: 0 0 7% 0;
}

.local p{
  font-weight: 800; /* Extrabold */
  text-align: center;
}

/* CARDAPIO */

  /* Sidebar */

.nav-item-cardapio {
  width: 100%;
  padding: 7% 0; /* tira o padding lateral pra não "encolher" */
  font-size: 24px;
  font-weight: 600;
  border-bottom: 3px solid #fff;
  box-sizing: border-box;
  display: block; /* força ocupar a linha toda */
  text-align: center; /* opcional, se quiser centralizar o texto */
}


.produtos{
  padding: 20px;
  margin-left: 15%;
  width: 85%;
  position: fixed;
  height: 100vh;
  overflow-y: auto; 
}

.prod{
  display: flex;
  margin: auto;
  height: 27vh;
  width: 85%;
  border-radius: 10px;
  background-color: #D9D9D9;
  padding: 40px;
  font-weight: 700; /* também é negrito */
  margin-bottom: 4%;
}


.prod article {
  margin-left: 45px;
  font-weight: 700; 
  font-size: 20px;
}

.prod article section{
  display: flex;
  padding: 10px;
  margin-top: 10%;
  justify-content: space-between;
  font-weight: 700; 
  font-size: 20px;
  
}

.botao {
  background-color: #004225;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.prod article h1{
  color:#F48347;
  font-weight: 700; 
}
  


/* MODAL CARRINHO */
/* Modal.css */

.overlay, .dialog {
  position: fixed;
}

@keyframes overlay-in {
  0% { scale: 0 0.003; }
  33%, 36% { scale: 1 0.003; }
  66%, 100% { scale: 1 1; }
}

.overlay {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 75%);
  display: grid;
  place-items: center;
}

.overlay.open {
  animation: overlay-in 1s both;
}

.overlay.closed {
  animation: overlay-in 1s 0.25s reverse both;
}

.overlay.default {
  scale: 0;
}

@keyframes dialog-in {
  0% {
    opacity: 0;
    visibility: hidden;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    visibility: visible;
    scale: 1;
  }
}

.dialog {
  z-index: 2;
  width: 380px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 0 40px 50px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgb(0 0 0 / 24%);
}

.dialog.default {
  opacity: 0;
  visibility: hidden;
}
.dialog.open {
  animation: dialog-in 0.5s 0.6s both;
}

.dialog.closed {
  animation: dialog-in 0.5s reverse both;
}

.dialog header {
  background: linear-gradient(90deg, #F48347, #e0360c );
  margin: -85px -20px 30px;
  border-radius: 12px;
  height: 170px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
  box-shadow: 0 16px 30px rgb(0 0 0 / 12%);
}

.dialog header h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.dialog header h3 {
  opacity: 0.45;
  font-weight: 400;
}


/* footer */

.footer-container {
  background-color: #000;
  color: #fff;
  padding: 2rem 1rem;
  margin-top: 80px;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: var(--orange);
}

.footer-grupo{
  margin-top: 40px;
  margin-bottom: 100px;
}


.footer-icons{
  margin-right: -14px; 
}


