/* configs basicas */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --white:#FFFFFF;
  --black:black;
  --orange:#F48347;
  --gray:#D9D9D9;
  --green:#03391D;

}

*{
  font-family: 'Poppins', sans-serif;
}


/* MODAL CARRINHO (ANIMACAO)*/


.overlay, .dialog {
  position: fixed;
}

@keyframes overlay-in {
  0% { scale: 0 0.003; }
  33%, 36% { scale: 1 0.003; }
  66%, 100% { scale: 1 1; }
}

.overlay {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 75%);
  display: grid;
  place-items: center;
}

.overlay.open {
  animation: overlay-in 1s both;
}

.overlay.closed {
  animation: overlay-in 1s 0.25s reverse both;
}

.overlay.default {
  scale: 0;
}

@keyframes dialog-in {
  0% {
    opacity: 0;
    visibility: hidden;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    visibility: visible;
    scale: 1;
  }
}

.dialog {
  z-index: 2;
  width: 90%;          /* ocupa até 90% da tela */
  max-width: 670px;    /* limite máximo */
  max-height: 90vh;    /* evita estourar a altura */
  top: 50%;
  left: 50%;
  margin-top: 3%;
  transform: translate(-50%, -50%); /* melhor que translate direto */
  padding: 0 20px 50px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgb(0 0 0 / 24%);
  display: flex;
  flex-direction: column;
}


.dialog.default {
  opacity: 0;
  visibility: hidden;
}
.dialog.open {
  animation: dialog-in 0.5s 0.6s both;
}

.dialog.closed {
  animation: dialog-in 0.5s reverse both;
}

/* .dialog header {
  background: linear-gradient(90deg, #F48347, #e0360c );
  margin: -85px -20px 30px;

  border-radius: 12px;
  height: 27%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
  box-shadow: 0 16px 30px rgb(0 0 0 / 12%);
} */
.dialog header {
  background: linear-gradient(90deg, #F48347, #e0360c );
  margin: -42px -0px 20px;  /* remove o margin negativo */
  border-radius: 12px;
  height: 60%;
  padding: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
  box-shadow: 0 16px 30px rgb(0 0 0 / 12%);
}

.dialog header h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.dialog header h3 {
  opacity: 0.45;
  font-weight: 400;
}

