.navbar {
    background-color: #000; /* Cor personalizada */
  }
  

















  :root{
    --white:#FFFFFF;
    --black:black;
    --orange:#F48347;
    --gray:#D9D9D9;
    --green:#03391D;

  }

footer{

}

  